:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(88px, 1fr) repeat(2, max-content) minmax(88px, 1fr);
  justify-items: center;
  align-items: center;

  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: white;
}

main {
  width: fit-content;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
}

main > :first-child {
  border-radius: 8px 8px 0 0;
}

main > :last-child {
  border-radius: 0 0 8px 8px;
}

section {
  width: 327px;
  height: 442px;
  padding: 48px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  row-gap: 40px;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.button {
  width: max-content;
  background-color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0.75rem 1.75rem;
  display: block;
}

p {
  line-height: 1.75em;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: black;

  grid-row: 3 / 4;
}

#sedans {
  background-color: var(--bright-orange);
}

#sedans .button {
  color: var(--bright-orange);
}

#suvs {
  background-color: var(--dark-cyan);
}

#suvs .button {
  color: var(--dark-cyan);
}

#luxury {
  background-color: var(--very-dark-cyan);
}

#luxury .button {
  color: var(--very-dark-cyan);
}

/* Desktop Styles */
@media (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: max-content;
  }

  main > :first-child {
    border-radius: 10px 0 0 10px;
  }

  main > :last-child {
    border-radius: 0 10px 10px 0;
  }

  section {
    width: 307px;
    height: 500px;
  }
}

@media (hover: hover) {
  #sedans .button:hover,
  #suvs .button:hover,
  #luxury .button:hover {
    background-color: unset;
    color: white;
  }
}
